# Ignore build output directories
bin/
obj/

# Ignore user-specific files
*.user
*.suo

# Ignore IDE-specific files
.vs/
*.swp

# Ignore node modules
node_modules/

# Ignore .NET Core environment files
appsettings.Development.json
appsettings.Production.json

# Ignore build results
wwwroot/
