@page "/categories"
@using HappyNoodles_ManagementApp.ViewModels.Category
@using static HappyNoodles_ManagementApp.Controllers.CategoriesController
@inject IHttpClientFactory HttpClientFactory

<h3>Categories</h3>

@if (categories == null)
{
    <p><em>Loading...</em></p>
}
else if (!categories.Any())
{
    <p>No categories found.</p>
}
else
{
    <ul>
        @foreach (var category in categories)
        {
            <li>@category.Name (@category.Menu.Name)</li>
        }
    </ul>
}

@code {
    private List<CategoryViewModel> categories;
    private HttpClient _httpClient;

    protected override async Task OnInitializedAsync()
    {
        _httpClient = HttpClientFactory.CreateClient("ApiClient");
        categories = await _httpClient.GetFromJsonAsync<List<CategoryViewModel>>("api/categories");
    }
}
