@page "/categories"
@using HappyNoodles_ManagementApp.ViewModels.Category
@using static HappyNoodles_ManagementApp.Controllers.CategoriesController
@inject IHttpClientFactory HttpClientFactory

<h3>Categories</h3>

@if (categories == null)
{
    <p><em>Loading...</em></p>
}
else if (!categories.Any())
{
    <p>No categories found.</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Category Name</th>
                <th>Menu</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var category in categories)
            {
                <tr>
                    <td>@category.Id</td>
                    <td>@category.Name</td>
                    <td>@category.Menu.Name</td>
                    <td>
                        @* <button class="btn btn-primary" @onclick="() => EditCategory(category.Id)">Edit</button>
                        <button class="btn btn-danger" @onclick="() => ConfirmDeleteCategory(category.Id)">Delete</button> *@
                        <button class="btn btn-primary">Edit</button>
                        <button class="btn btn-danger">Delete</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}


@code {
    private List<CategoryViewModel> categories;
    private HttpClient _httpClient;

    protected override async Task OnInitializedAsync()
    {
        _httpClient = HttpClientFactory.CreateClient("ApiClient");
        categories = await _httpClient.GetFromJsonAsync<List<CategoryViewModel>>("api/categories");
    }
}
